@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: black;
  padding: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
}

.hero {
  background-image: url(../assets/images/dascv.jpg);
  height: 1000px;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  padding: 30px;

  div {
    background-color: antiquewhite;
    margin-top: 250px;
    padding: 30px;
  }

  h1 {
    font-size: 32px;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.foot {
  bottom: 0;
}

.container {
  width: 75%;
  max-width: 1000px;
  margin: auto;
}

img {
  width: 100%;
  border-radius: 15px;
}